.container {
    flex: 0 0 auto;
    width: 180px;
    height: 200px;
    padding: 0.7rem;
    margin: 0.5rem 0.5rem;
    background: #5e8c61;
    border-radius: 0.5rem;
    color: #fff;

    h1 {
        font-size: 0.95rem;
    }

    p {
        font-size: 0.8758;
    }
}
